.header{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: rgb(16,16,16);
    top: 0; /* Stick the header to the top of the viewport */
    left: 0; /* Align the header to the left edge of the viewport */
    width: 100%; /* Make the header span the full width of the viewport */
    
}
.headerText{
    margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: color 2s;
    text-decoration: none;
    color:rgb(255, 255, 255);
}


.logo{
    margin-right: 60%;
}



.headerText:hover{
    color: grey;
}
